---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<FormattedDate date={pubDate} updatedDate={updatedDate} />
				<h1 class="title">{title}</h1>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<slot />
			</article>
			<nav>
				<li>1123</li>
				<li>312</li>
			</nav>
		</main>
		<Footer />
	</body>
</html>

<style lang="less">
  @import '../styles/sizing.less';
	main {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		padding: 20px 0 0;
    margin: 0 auto;
    max-width: var(--SITE-WIDTH-LARGE);
    @media @mobile { max-width: var(--SITE-WIDTH-SMALL); }
    @media @tablet { max-width: var(--SITE-WIDTH-BASE); }
    @media @desktop { max-width: var(--SITE-WIDTH-MEDIUM); }
    @media @largeDesktop { max-width: var(--SITE-WIDTH-LARGE); }
  }
	article {
		flex: 1;
		width: 100%;
		max-width: var(--SITE-WIDTH-BASE);
		line-height: var(--LINEHEIGHT-CONTENT);
	}
	nav {
		position: sticky;
		top: 20px;
		flex-shrink: 0;
		width: 260px;
		padding: 0 20px;
		margin-left: 40px;
	}
	.title {
		font-size: 2em;
		margin: 0.25em 0 0;
	}
	hr {
		border-top: 1px solid #ddd;
		margin: 1rem 0;
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
